@model PostViewModel
@{
    ViewData["Title"] = "Novo Post";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="Titulo" class="form-label"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Conteudo" class="form-label"></label>
                            <textarea asp-for="Conteudo" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="Conteudo" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2">
                            <input type="submit" value="CRIAR" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
