@model PostViewModel

@{
    ViewData["Title"] = "Deletar";
}

@if (Model.Comentarios.Any())
{
    <h3>Tem certeza que deseja remover este Post e seus Comentários?</h3>
}
else
{
    <h3>Tem certeza que deseja remover este Post? </h3>
}
<div class="row">
    <h4>Post</h4>
    <hr />
    <partial name="_MessagesPartial" model="ViewBag.Messages" />
    <div class="card col-sm-6">
        <div class="card-body">
            <h2 class="card-title">
                @Model.Titulo
            </h2>
            <p class="card-text">
                @Model.Conteudo
            </p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <small class="text-muted">Por @Model.Autor?.Usuario?.UserName</small>
            <small class="text-muted">Publicado em @Model.DataPublicacao?.ToShortDateString()</small>
        </div>
    </div>
    <form asp-action="Delete" class="col-sm-6">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-center gap-1">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>
