@model AutorViewModel
@{
    ViewData["Title"] = "Cadastre-se";
}
<div class="row">
    <div class="col-sm-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Create">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biografia" class="control-label"></label>
                <input asp-for="Biografia" class="form-control" />
                <span asp-validation-for="Biografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

