@model IEnumerable<ComentarioViewModel>

<section id="SectionComentario">
    <h3>Comentários</h3>
    @if (Model.Any())
    {
        @foreach (var comentario in Model)
        {
            <partial name="_ComentarioDetalhePartial" model="comentario" />
        }
    }
    else
    {
        <p>Seja o(a) primeiro(a) a comentar!</p>
    }
    <div>
        <partial name="_FormNovoComentario" model="new ComentarioViewModel()" />
    </div>
</section>
<script src="js/form-modal-comentario.js" defer></script>