@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Model.Title - @Model.Message</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="row">
    <a href="@Url.ActionLink("Index", "Home")">Voltar para inicio</a>
</div>
